{% extends 'list_base.html' %}

{% block title %}TAGS PAGE{% endblock %}

{% block content %}
  {% for a_tag,a_values in tags.items %}
        <div class="col-xs-12 col-md-6 col-lg-4 pb-3 px-2 align-self-stretch d-flex align-items-stretch">
          <div class="card mx-0 post-card">
            <div class="card-body">
              <h4 class="card-title"><a href="/tag/{{ a_tag }}">{{ a_tag }}</a></h4>
              <p class="card-text">
                {{ a_values.description|safe|truncatewords:15 }}
              </p>
            </div>
            <div class="card-footer recentpost">
              <small class="text-muted">
                {{ a_values.count }} posts
              </small>
            </div>  
          </div>
        </div>
  {% endfor %}
{% endblock %}

{% block copyright %}{{ content.siteinfo.copyright|safe }}{% endblock %}
{% block footer %}{{ content.siteinfo.footer|safe }}{% endblock %}